.label-with-icon--clickable {
  @apply p-2.5 rounded-md text-dark-gray;

  &:hover {
    @apply bg-opacity-10 text-dark-blue bg-dark-gray;
    @apply dark:text-celeste dark:bg-opacity-40;
  }

  .label-with-icon__slot {
    @apply font-bold tracking-wide font-body;
  }

  &:focus, &.selected {
    @apply bg-opacity-40 outline-none bg-dark-indigo text-dark-indigo;
    @apply dark:focus:bg-light-indigo dark:text-light-indigo;
    @apply dark:bg-opacity-20 #{!important};

    .label-with-icon__slot {
      @apply text-celeste;
    }
  }
}

.brand-focus-ring--indigo {
  @apply rounded-sm ring-2 ring-offset-2 ring-dark-indigo ring-offset-light-white;
}

.brand-dark-focus-ring--indigo {
  @apply rounded-sm ring-2 ring-offset-2 ring-light-indigo ring-offset-dark-blue;
}

button:focus {
  @apply outline-none;
}

.sidebar-subtitle {
  @apply text-dark-blue font-semibold;
  @apply dark:text-celeste;
  &:focus {
    @apply outline-none;
  }
  &--with-toggle {
    a, svg, button {
      @apply text-dark-indigo;
      @apply dark:text-light-indigo;
    }
  }
}


// APP SKELETTON LAYOUT
.app-layout {
  @apply flex relative bg-lighter-white dark:bg-darker-blue w-full;

  &__sidebar {
   @apply flex flex-none max-h-screen min-h-screen bg-lighter-white dark:bg-darker-blue;
    @apply transition-all duration-300 ease-linear delay-100;
  }

  &__main-content {
    @apply flex justify-center mx-auto absolute right-[2rem];

    width: calc(100vw - 17rem);
    transition: width 500ms ease-in-out;
    @screen xl {
      width: calc(100vw - 20rem);
    }
    @screen 3xl {
      width: calc(100vw - 24rem);
    }
  }
  &__main-content--stacked {
    width: calc(100vw - 10rem);
  }
}
