.brand-input {
  &__input, &__textarea, &__select {
    @apply block w-full bg-transparent rounded-md border-2 shadow-sm border-dark-gray text-dark-blue;
    @apply dark:text-celeste;

    &--primary:hover {
      @apply border-dark-blue;
      @apply dark:border-celeste;

      & ~ label, .select-toggle {
        @apply text-dark-blue;
        @apply dark:text-celeste;
      }
    }

    &:focus {
      @apply text-dark-indigo border-dark-indigo;
      @apply dark:text-light-indigo dark:border-light-indigo;
      @apply outline-none;

      & ~ label, .select-toggle {
        @apply text-dark-indigo;
        @apply dark:text-light-indigo;
      }
    }

    // task type only
    &--task {
      @apply border-transparent border-dashed shadow-none;
      &:hover {
        @apply border-dark-gray;
      }

      &:focus {
        @apply border-solid border-dark-indigo;
        @apply dark:border-light-indigo;
      }
    }
  }

  &__input, &__select {
    &--size-default {
      @apply py-1.5 px-3;
    }

    &--size-large {
      @apply py-2 px-5;
    }
  }

  // text-area only
  &__textarea {
    @apply py-2 px-3;
  }

  // select only
  &__select {
    &:focus {
      @apply text-dark-indigo;
      @apply dark:text-light-indigo;

      .select-toggle {
        @apply text-dark-indigo;
        @apply dark:text-light-indigo;
      }
    }
  }

  // label only
  &__label {
    @apply block mb-1.5 text-sm tracking-wider font-bold text-dark-gray;
  }

  &__input, &__textarea, &__label, &__errors {
    @apply transition-colors duration-300;
  }

  // error state only
  &--has-errors {
    .brand-input {
      &__label, &__input, &__textarea, &__select, &__select > .select-toggle {
        @apply text-error border-error #{!important};
        &:hover {
          @apply text-error border-error;
        }

        &:focus {
          @apply text-error border-error;
        }
      }

      &__errors {
        @apply italic text-error border-error;
        & > * {
          @apply text-sm;
        }
      }
    }
  }
}

// AUTOFILL STYLE
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px #F9F9F9 inset !important;
  -webkit-text-fill-color: #182532 !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active
{
  -webkit-box-shadow: 0 0 0 30px #182532 inset !important;
  -webkit-text-fill-color: #EDF2FB !important;
}
